PORT=5002
mongoURL=

# cloudinary config (optional)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=


#stabiility.ai config (optional)
STABILITY_API_KEY=

# https://platform.stability.ai
# https://platform.stability.ai/account/keys
