PORT=5002
mongoURL=

# for docker-compose
# mongoURL=mongodb+srv://digitalpoolmgatlas01:tWwSOX3awR0Fs8n6@cluster0.q07oivg.mongodb.net/upload-service?retryWrites=true&w=majority&appName=Cluster0

# cloudinary config (optional)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=


#stabiility.ai config (optional)
STABILITY_API_KEY=

# https://platform.stability.ai
# https://platform.stability.ai/account/keys