PORT=5500
DESIGN=http://localhost:5001
UPLOAD=http://localhost:5002
SUBSCRIPTION=http://localhost:5003

# for docker-compose
# PORT=5500
# DESIGN=http://design-service:5001
# UPLOAD=http://upload-service:5002
# SUBSCRIPTION=http://subscription-service:5003

# same as AUTH_GOOGLE_ID from frontend
GOOGLE_CLIENT_ID=